<template>
    <div>
        <h2 class="mb-3">Articles</h2>
        <form class="class mb-4" @submit.prevent="addArticle">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Title" v-model="article.title">
            </div>
            <div class="form-group">
                <textarea class="form-control" placeholder="Text" v-model="article.body"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Save</button>
        </form>
        <ul class="pagination mb-2">
            <li :class="[{disabled: !pagination.prev_page}]" class="page-item">
                <a class="page-link" href="#" @click="fetchArticles(pagination.prev_page)">Previous</a>
            </li>
            <li class="page-item disabled text-dark">
                <a href="#" class="text-dark page-link">
                    Page {{ pagination.current_page }} of {{ pagination.last_page }}
                </a>
            </li>
            <li :class="[{disabled: !pagination.next_page}]" class="page-item">
                <a class="page-link" href="#" @click="fetchArticles(pagination.next_page)">Next</a>
            </li>
        </ul>
        <div v-for="article in articles" :key="article.id" class="card card-body mb-3">
            <h3>{{ article.title }}</h3>
            <p>{{ article.body }}</p>
            <hr>
            <button class="btn btn-info mb-2" @click="editArticle(article)">
                Edit
            </button>
            <button class="btn btn-danger" @click="deleteArticle(article.id)">
                Delete
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                articles: [],
                article: {
                    id: '',
                    title: '',
                    body: '',
                },
                article_id: '',
                pagination: {},
                edit: false
            };
        },
        created() {
            this.fetchArticles();
        },
        methods: {
            fetchArticles(page_url) {
                let vm = this;
                page_url = page_url || 'api/articles';
                fetch(page_url)
                    .then(res => res.json())
                    .then(res => {
                        this.articles = res.data;
                        vm.makePagination(res.meta, res.links);
                    })
                    .catch(err => console.log(err));
            },
            makePagination(meta, links) {
                const pagination = {
                    current_page: meta.current_page,
                    last_page: meta.last_page,
                    next_page: links.next,
                    prev_page: links.prev,
                };

                this.pagination = pagination;
                // console.log(this.pagination);
            },
            deleteArticle(id) {
                if (confirm('Are you sure?')) {
                    fetch(`api/article/${id}`, {method: 'delete'})
                        .then(res => res.json())
                        .then(res => {
                            alert('Article Remove');
                            this.fetchArticles();
                        })
                        .catch(err => console.log(err));
                }
            },
            addArticle() {
                if (this.edit === false) {
                    // add
                    fetch('api/article', {
                        method: 'post',
                        body: JSON.stringify(this.article),
                        headers: {
                            'content-type': 'application/json'
                        }
                    }).then(res => res.json())
                        .then(res => {
                            this.article.title = '';
                            this.article.body = '';
                            alert('Article added');
                            this.fetchArticles();
                        })
                        .catch(err => console.log(err));
                } else {
                    // update
                    fetch('api/article', {
                        method: 'put',
                        body: JSON.stringify(this.article),
                        headers: {
                            'content-type': 'application/json'
                        }
                    })
                    .then(res => res.json())
                    .then(res => {
                        this.article.title = '';
                        this.article.body = '';
                        alert('Article updated');
                        this.fetchArticles();
                    })
                    .catch(err => console.log(err));          
                }
            },
            editArticle(article) {
                this.edit = true;
                this.article.id = article.id;
                this.article.article_id = article.id;
                this.article.title = article.title;
                this.article.body = article.body;
            }
        }
    }
</script>

<style lang="scss">
    @import '~bootstrap/scss/bootstrap'; 
</style>
